pm_host         = "10.10.0.1"
pm_node_name    = "pve01"
pm_tls_insecure = true
pm_lxc_template    = "proxmox:vztmpl/nixos.tar.xz"

network_gateway = "10.0.0.1"
network_subnet  = "8"

authorized_keys = <<SSH
SSH

lxcs = [
  {
    name   = "caddy"
    vmid   = "241"
    ip     = "10.10.2.41"
    tags   = ["networking"]
    memory = 256
    cores  = 2
  },
  {
    name       = "jellyfin"
    privileged = true
    vmid       = "810"
    ip         = "10.10.8.10"
    tags       = ["media"]
    memory     = 4096
    cores      = 6
    extra_config = [
      "lxc.cgroup2.devices.allow: c 226:0 rwm",
      "lxc.cgroup2.devices.allow: c 226:128 rwm",
      "lxc.mount.entry: /dev/dri/card0 dev/dri/card0 none bind,optional,create=file,mode=0666",
      "lxc.mount.entry: /dev/dri/renderD128 dev/dri/renderD128 none bind,optional,create=file",
    ]
    mountpoints = [
      {
        slot    = 0
        mp      = "/data"
        storage = "/srv/storage"
      },
      {
        slot    = 1
        mp      = "/config"
        storage = "/srv/storage/AppData/config/jellyfin"
      },
      {
        slot    = 2
        mp      = "/var/lib/jellyfin/data"
        storage = "/srv/storage/AppData/config/jellyfin/data/data"
      },
      {
        slot    = 3
        mp      = "/var/lib/jellyfin/metadata"
        storage = "/srv/storage/AppData/config/jellyfin/data/metadata"
      },
      {
        slot    = 4
        mp      = "/var/lib/jellyfin/plugins"
        storage = "/srv/storage/AppData/config/jellyfin/data/plugins"
      },
      {
        slot    = 5
        mp      = "/var/lib/jellyfin/root"
        storage = "/srv/storage/AppData/config/jellyfin/data/root"
      },
      {
        slot    = 6
        mp      = "/var/cache/jellyfin"
        storage = "/srv/storage/AppData/config/jellyfin/cache"
      },
    ]
  }
]
